 /posterior/auto/
/posterior/model.aux
/posterior/model.bbl
/posterior/model.blg
/posterior/model.out
/posterior/model.synctex.gz
/posterior/model.pdf
/posterior/model.log
/posterior/christian-robert.aux
/posterior/christian-robert.log
/posterior/christian-robert.out
/posterior/christian-robert.pdf
/posterior/christian-robert.synctex.gz
.idea/

/posterior/real_tardis_250.h5
/hans/bayes-tardis-luminosity-prediction.aux
/hans/bayes-tardis-luminosity-prediction.bbl
/hans/bayes-tardis-luminosity-prediction.blg
/hans/bayes-tardis-luminosity-prediction.log
/hans/bayes-tardis-luminosity-prediction.pdf
/hans/bayes-tardis-luminosity-prediction.synctex.gz
/hans/bat/link.d
/hans/bat/log.txt
/hans/bat/runTardis
/hans/bat/Tardis.o
/hans/bat/runTardis.o
/hans/bat/*.pdf
/hans/auto/_region_.el
/hans/bat/out.txt
/hans/bat/*.out
/real/auto/
/real/code/link.d
/real/code/runTardis
/real/draft.aux
/real/draft.out
/real/draft.pdf
/real/draft.synctex.gz
/real/draft.toc
/real/draft.bbl
/real/draft.blg
/real/code/.juliahistory
/real/draft.log
/real/prv_draft.log
/real/code/runTardis.o
/real/code/optim.pdf
/.cproject
/.project
/X0.100000-0.200000_replica.out
/hans/_region_.log
/hans/_region_.synctex.gz
/hans/_region_.tex
hans/auto/*
posterior/auto/*
*.txt
*.out
*.log
/real/code/Tardis.o
/real/code/test_opt.pdf
/real/code/test_noopt.pdf
/hans/bayes-tardis-luminosity-prediction.toc
/hans/bayes-tardis-luminosity-prediction.dvi
/hans/bayes-tardis-luminosity-prediction.prv/tmp184893pL/preview.dsc
/posterior/Gauss-Laplace.pdf
/posterior/PL72.pdf
/posterior/max_likelihood.pdf
/posterior/max_likelihood_sum.pdf
/posterior/x.pdf
/posterior/energies.pdf
/posterior/energies_all.pdf
/posterior/amoroso_amoroso_binned_max_log_likelihood.pdf
/posterior/beta.pdf
