/posterior/auto/
/posterior/model.aux
/posterior/model.bbl
/posterior/model.blg
/posterior/model.out
/posterior/model.synctex.gz
/posterior/model.pdf
/posterior/model.log
/posterior/christian-robert.aux
/posterior/christian-robert.log
/posterior/christian-robert.out
/posterior/christian-robert.pdf
/posterior/christian-robert.synctex.gz
.idea/

/posterior/real_tardis_250.h5
/hans/bayes-tardis-luminosity-prediction.aux
/hans/bayes-tardis-luminosity-prediction.bbl
/hans/bayes-tardis-luminosity-prediction.blg
/hans/bayes-tardis-luminosity-prediction.log
/hans/bayes-tardis-luminosity-prediction.pdf
/hans/bayes-tardis-luminosity-prediction.synctex.gz
/hans/bat/link.d
/hans/bat/log.txt
/hans/bat/runTardis
